body {
background: #FEFEFA;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

#index {
display: block;
margin-left: auto;
margin-right: auto;
width: 600px;
height: 150px;
}